
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ urlFor('indexNotification') }}">Notifications</a></li>
        <li><a href="{{ urlFor('catalogUser') }}">My Catalog</a></li>
        <li><a href="{{ urlFor('indexMessage') }}">Messages</a></li>
        <li><a href="{{ urlFor('indexAdmin') }}">Administration</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ urlFor('contactsIndex') }}">Contacts</a></li>
        <li><a href="{{ urlFor('contactIndex') }}">Contact us</a></li>
        <li><a href="{{ urlFor('termsIndex') }}">Terms and policy</a></li>
        <li><a href="{{ urlFor('faqIndex') }}">FAQ</a></li>
    </ul>
</div>
